.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e408a;
    color: #ffffff;
    box-shadow: 1px 1px 2px 1px #808080;
    width: 100%;
    font-family: 'Averia Gruesa Libre', cursive;
}
.header h1 {
    display: flex;
    padding: 0 0 0 1rem;
}

.header nav {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header li {
    margin-right: 1rem;
    padding: 0px 20px;
}

.navLink {
    cursor: pointer;
    font-weight:  700;
}