
.flex-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.poster:hover {
  border: coral;
}

.poster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 6px;
}
